:root{
    --montserrat: 'Montserrat', sans-serif;
    --color-black: #00343D;
    --color-blue: #1292EE;
    --color-gray: #7C7C7C;
}

.contact_title{
    font-family: var(--montserrat);
    font-size: 2em;
    color: var(--color-black);
    font-weight: 700;
    margin: 4rem 0 0 0;
}
.contact_description{
    font-family: var(--montserrat);
    font-size: 1.4em;
    color: var(--color-black);
    font-weight: 500;
    margin: 1rem 0 0 0;
    line-height: 30px;
}

.form_contact{
    width: 50%;
    margin: 5rem auto;
}
.row{
    width: 100%;
    margin: 0;
}
.input_col{
    display: flex;
    flex-direction: column;
}
.mensaje_label{
    margin-top: 1rem;
}
.form_contact label{
    font-family: var(--montserrat);
    font-size: 1em;
    color: var(--color-gray);
    font-weight: 500;
    text-align: left;
}
.btn_contact{
    font-family: var(--montserrat);
    font-size: 1em;
    font-weight: 500;
    width: 150px;
    border-width: 2px;
    margin-top: 2rem;
}

@media only screen and (max-width:768px){
    .form_contact{
        width: 100%;
    }
    .input_col{
        padding: 0;
    }
}

@media only screen and (max-width:576px){
    .container{
        margin: 0 1rem!important;
    }
    .form_contact{
        width: 100%;
    }
    .contact_title{
        font-size: 1.5em;
    }
    .contact_description{
        font-size: 1.1em;
        line-height: 2px;
    }

}